{
    "extends": "airbnb",
    "plugins": [
      "chai-friendly"
    ],
    "rules": {
        "linebreak-style": 0,
        "no-unused-expressions": 0,
        "chai-friendly/no-unused-expressions": 2,
        "no-underscore-dangle": ["error", { "allowAfterThis": true }]
    }
}
